<template>
  <form @submit="login($event)" class="col-layout">
    <div class="table-layout">
      <div class="body-group">
        <div class="row">
          <div class="cell">
            <label for="email">Email:</label>
          </div>
          <div class="cell center">
            <input type="text" name="email" id="email" autocomplete="on" v-model="email" @keydown.enter="document.getElementById('password').focus()" />
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <label for="password">Password:</label></div>
          <div class="cell center">
            <input type="password" name="password" id="password" autocomplete="current-password" v-model="password" @keydown.enter="login()" />
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div v-if="loginFail">
        Your username and password don't match. Are you sure you've typed them in correctly?
      </div>
    </transition>
    <div :class="classes" @click="login()">Login</div>
  </form>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      email: "",
      password: "",
      loginFail: false,
      disabled: false
    };
  },
  computed: {
    classes: function() {
      let clazzes = ["standard-button", "center", "margin-all"];
      if (this.disabled) clazzes.push("disabled");
      return clazzes;
    }
  },
  methods: {
    login: function() {
      if (!this.disabled && this.email && this.password) {
        this.disabled = true;
        this.$store
          .dispatch("services/auth/loginWithEmailAndPassword", {
            email: this.email,
            password: this.password
          })
          .then(v => {
            if (v) this.$router.push("/edit");
            else this.loginFail = true;
            this.disabled = false;
          });
      }
    }
  }
});
</script>
