<template><div class="col-layout">
        <div class="table-layout"><div class="body-group">
            <div class="row">
                <div class="cell">
                <label for="first-name">First Name</label></div><div class="row">
                <input type="text" name="first-name" id="first-name" autocomplete="given-name" v-model="firstName">
            </div></div>
            <div class="row"><div class="cell">
                <label for="last-name">Last Name</label></div><div>
                <input type="text" name="last-name" id="last-name" autocomplete="family-name" v-model="lastName">
            </div></div>
            <div class="row"><div class="cell">
                <label for="email">Email</label></div><div class="cell">
                <input type="text" name="email" id="email" autocomplete="email" v-model="email">
            </div></div>
            <div class="row"><div class="cell">
                <label for="password">Password</label></div><div class="cell">
                <input type="password" name="password" id="password" autocomplete="new-password" v-model="rPassword">
            </div></div>
            <div class="row"><div class="cell">
                <label for="confirm-password">Confirm Password</label></div><div class="cell">
                <input type="password" name="confirm" id="confirm" autocomplete="off" v-model="cPassword">
            </div></div>
        </div></div>
        <div class="center standard-button margin-all pad-all" @click="submitRegistration">Submit Registration!</div>
        <transition name="fade">
            <div v-if="rPassword !== cPassword">
                Are you sure you've entered your password correctly in both fields?
            </div>
        </transition>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import User from "@/models/auth/User";
export default Vue.extend({
  data() {
    return {
      email: "",
      firstName: "",
      lastName: "",
      rPassword: "",
      cPassword: ""
    };
  },
  computed: {
      registrationSucceeded(): boolean | null {
          return this.$store.getters['auth/registrationSucceeded'];
      }
  },
  methods: {
    submitRegistration: function() {
      if (this.rPassword !== this.cPassword) {
        window.alert(
          "Your passwords do not match.\nPlease ensure that you have typed your password correctly."
        );
      } else {
        this.$store.dispatch("auth/register", {
          user: new User("", this.email, this.firstName, this.lastName, 1),
          password: this.rPassword
        });
      }
    }
  }
});
</script>
