<template>
  <div class="user col-layout grow">
    <navigation></navigation>
    <div class="col-layout center grow">
      <profile-picture />
      <div class="large-text">{{fullName}}</div>
      <div class="medium-large-text italics">{{user.email}}</div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import User from "@/models/auth/User";
const NavigationVue = () => import("../nav/Navigation.vue");
const ProfilePictureVue = () => import("../utilities/ProfilePicture.vue");
export default Vue.extend({
  computed: {
    user(): User {
      return this.$store.getters["services/auth/user"];
    },
    fullName(): String {
      return this.user.firstName + " " + this.user.lastName;
    }
  },
  components: {
    navigation: NavigationVue,
    "profile-picture": ProfilePictureVue
  }
});
</script>

