<template>
    <div>
        <select v-for="month in months" v-bind:key="month.value" :v-model="month">
            <option :value="month.value">{{month.name}}</option>
        </select>
        <select v-for="date in dates" :key="date.value" :v-model="date">
            <option :value="date.value">{{date.name}}</option>
        </select>
        <select v-for="year in years" :key="year.value" :v-model="year">
            <option :value="year.value">{{year.value}}</option>
        </select>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      months: [],
      month: null as number | null,
      date: null as number | null
    };
  }
});
</script>
