<template>
    <div class="about grow col-layout center">
        <site-logo class="logo" />
        <div class="spacing"></div>
        <div>This program was created by
            <div class="standard-button pad">Justin Ley</div>
            and
            <div class="standard-button pad">Prem Chintalapudi</div>
        </div>
        <div style="font-size:.75em">
            <div class="table-layout">
                <div class="body-group">
                    <div class="row">
                        <div class="cell">
                            <div class="center">
                                <div>FontAwesome</div>
                            </div>
                        </div>
                        <div class="center">
                            <div>Icons for the note, article-note, folders, and the add bar icons</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
const SiteLogoVue = () => import("../utilities/Cube.vue");
export default Vue.extend({
  components: { "site-logo": SiteLogoVue }
});
</script>
