<template>
  <div class="nav-bar">
    <div>
      <div @mouseleave="fileShowing=false">
        <div @mouseenter="fileShowing = true" class="dropdown-target">File</div>
        <transition name="fade">
          <div class="dropdown" v-if="fileShowing">
            <div class="dropdown-content"></div>
          </div>
        </transition>
      </div>
      <div @mouseleave="editShowing=false">
        <div @mouseenter="editShowing = true" class="dropdown-target">Edit</div>
        <transition name="fade">
          <div class="dropdown" v-if="editShowing">
            <div class="dropdown-content"></div>
          </div>
        </transition>
      </div>
      <div @mouseleave="helpShowing=false" class="col-layout">
        <div @mouseenter="helpShowing=true" class="dropdown-target">Help</div>
        <transition name="fade">
          <div class="dropdown" v-if="helpShowing">
            <div class="dropdown-content col-layout">
              <div class="standard-button" @click="$router.push('/about')">About</div>
              <div class="dropdown-target" @mouseleave="themeShowing=false" @mouseenter="themeShowing=true">
                <div class="grow">Change Theme</div>
                <div class="pad">></div>
                <transition name="fade">
                  <div v-if="themeShowing" class="dropdown">
                    <div class="dropdown-content col-layout">
                      <div class="standard-button" @click="themeChange('standard')">Standard</div>
                      <div class="standard-button" @click="themeChange('dark')">Dark</div>
                      <div class="standard-button" @click="themeChange('red')">Red</div>
                      <div class="standard-button" @click="themeChange('green')">Green</div>
                      <div class="standard-button" @click="themeChange('blue')">Blue</div>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </transition>
      </div>
      <div>
        <div @click="explore()" class="standard-button">Explore</div>
      </div>
    </div>
    <search-bar class="grow" />
    <div>
      <div>
        <div class="standard-button" @click="$router.push('/user')">User Profile</div>
      </div>
      <div>
        <div @click="logout" class="standard-button">Sign Out</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { VNodeDirective, VNode } from "vue";
import User from "@/models/auth/user";
import { exteriorClick } from "../../directives";
const SearchBarVue = () => import("./SearchBar.vue");

export default Vue.extend({
  components: { "search-bar": SearchBarVue },
  computed: {
    user: {
      get(): User {
        return this.$store.getters["services/auth/user"];
      }
    }
  },
  directives: {
    "exterior-click": exteriorClick
  },
  data() {
    return {
      fileShowing: false,
      editShowing: false,
      helpShowing: false,
      themeShowing: false
    };
  },
  methods: {
    close(event: MouseEvent, el: HTMLElement) {
      let elements = el.getElementsByClassName("navigation-dropdown-content");
      for (let i = 0; i < elements.length; i++) {
        let visible = elements[i].classList.contains(
          "navigation-dropdown-content-visible"
        );
        if (visible)
          elements[i].classList.remove("navigation-dropdown-content-visible");
      }
    },
    load(ev: MouseEvent) {
      let element = ev.srcElement as Element;
      if (!element) return;
      if (
        !element.classList.contains("navigation-dropdown") &&
        element.parentElement
      )
        element = element.parentElement;
      let elements = element.getElementsByClassName(
        "navigation-dropdown-content"
      );
      for (let i = 0; i < elements.length; i++) {
        let visible = elements[i].classList.contains(
          "navigation-dropdown-content-visible"
        );
        if (!visible) {
          elements[i].classList.add("navigation-dropdown-content-visible");
        }
      }
    },
    logout() {
      this.$store.dispatch("services/auth/logout").then(() => {
        this.$router.push("/");
      });
    },
    explore: function() {
      this.$router.push("/main");
    },
    themeChange: function(theme: string) {
      document.documentElement!.classList.remove(
        document.documentElement!.classList.item(0)!
      );
      document.documentElement!.classList.add(theme);
      localStorage.setItem("theme", theme);
      this.$store.commit("theme", theme);
    }
  }
});
</script>
