<template>
  <div class="pad-all col-layout search-bar">
    <input type="search" name="search-bar" aria-label="Search" placeholder="Search" id="search-bar" v-model="searchBarText" class="grow" @focus="searchHidden = false" @blur="searchHidden = true" />
    <div class="dropdown">
      <transition name="fade">
        <div v-if="searchResults.length && !searchHidden" class="dropdown-content col-layout">
          <div v-for="(result, index) in searchResults" :key="result.id" :class="resultClass(index === focusedResult)" @click="open(result)">
            <div>{{result.title}}</div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import * as _ from "lodash";
import { SearchResult } from "../../services/search/SearchQuery";
import { Item } from "../../models";
export default Vue.extend({
  data: function() {
    return {
      searchResults: [] as Item[],
      searchBarText: "",
      focusedResult: 0,
      searchHidden: false
    };
  },
  mounted() {
    let c = this;
    (this as any).searchBounce = _.debounce((c as any).search, 500);
  },
  watch: {
    searchBarText(next) {
      if (next.trim() == "") {
        this.searchResults = [] as Item[];
        return;
      }
      this.focusedResult = 0;
      (this as any).searchBounce!();
    }
  },
  methods: {
    hide() {
      this.searchHidden = true;
    },
    unhide() {
      this.searchHidden = false;
    },
    async open(item: Item) {
      let items: Item[] = await this.$store.dispatch("artifacts/getPath", item);
      await this.$store.dispatch("artifacts/getChildren", "");
      for (let i = 0; i < items.length; i++) {
        await this.$store.dispatch("artifacts/getChildren", items[i].id);
      }
      await this.$store.dispatch("artifacts/open", item.id);
      this.searchHidden = true;
    },
    resultClass: function(focused: boolean) {
      let clazzes = ["standard-button"];
      if (focused) {
        clazzes.push("focused");
      }
      return clazzes;
    },
    search() {
      this.$store
        .dispatch("artifacts/search", { text: this.searchBarText })
        .then(v => {
          this.searchResults = v.items;
        });
    }
  }
});
</script>

