<template>
  <router-view />
</template>

<script lang="ts">
import Vue from "vue";
import Vuex from "vuex";
import Router from "./router";
import Store from "./store";

export default Vue.extend({
  router: Router,
  store: Store,
  beforeCreate() {
    this.$store.dispatch("services/auth/startup");
  },
  mounted: function() {
    let theme = "standard";
    try {
      theme = localStorage.getItem("theme") || "standard";
    } catch (e) {
      
    }
    document.documentElement.classList.add(theme);
    this.$store.commit("theme", theme);
  }
});
</script>

<style lang="sass">
@import "./style/index.scss"
</style>
