%error-text {
  color: red;
  display: inline-block;
}

%modal-back {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  position: absolute;
  background-color: var(--primary-invert-10);
  // background-color: transparentize($color: $primary-invert, $amount: 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
