@mixin top-face-logo($color) {
  fill: $color;
}

@mixin right-face-logo($color) {
  fill: divide-color($color, 2)
}

@mixin left-face-logo($color) {
  fill: divide-color($color, 4)
}

@function divide-color($color, $amount) {
  @return rgba(red($color) / $amount, green($color) / $amount, blue($color) / $amount, alpha($color));
}