.col-layout {
  flex-flow: column nowrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
  flex-basis: 1;
}

.no-select {
  user-select: none;
}

.standard-button,
.dropdown-target {
  background-color: transparent;
  color: var(--primary-invert);
}

.dropdown-target {
  cursor: default;
}

.standard-button {
  cursor: pointer;
}

.standard-button:hover,
.dropdown-target:hover {
  background-color: var(--hover-focus);
  // background-color: transparentize($color: $primary-focus, $amount: 0.7);
}

.standard-button:active {
  background-color: var(--press-focus);
  // background-color: transparentize($color: $primary-focus, $amount: 0.5);
  background-color: var(--highlight-text);
  // color: $highlight-text-color;
}

body .standard-button.disabled,
body .standard-button.disabled:hover,
body .standard-button.disabled:active,
body .close-button.disabled,
body .close-button.disabled:hover,
body.close-button.disabled:active {
  background-color: transparent;
  cursor: not-allowed;
  background-color: var(--primary-back-50);
  // color: mix($primary-back, $primary-invert, 50);
}

.close-button {
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-invert);
}

.close-button:hover {
  background-color: var(--hover-negate);
  // background-color: transparentize($color: $primary-negate, $amount: 0.5);
}

.close-button:active {
  background-color: var(--press-negate);
  // background-color: transparentize($color: $primary-negate, $amount: 0.25);
  color: var(--highlight-text);
  // color: $highlight-text-color;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  background-color: var(--primary-back);
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 5px black;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.dropdown-backing {
  position: fixed;
  width: 100vw;
  height: 100vw;
}

body *.table-layout {
  display: table;
}

body *.table-layout > .header-group {
  display: table-header-group;
}

body *.table-layout > .body-group {
  display: table-row-group;
}

body *.table-layout > .footer-group {
  display: table-footer-group;
}

body *.table-layout > * > .row {
  display: table-row;
}

body *.table-layout > * > .row > .cell {
  display: table-cell;
}

body *.table-layout .caption {
  display: table-caption;
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-back-25-50);
  // background-color: transparentize(
  //   mix($primary-back, $primary-invert, 25),
  //   0.5
  // );
}

.modal {
  background-color: var(--primary-back);
  padding: 20px;
  max-height: 75vh;
  max-width: 75vw;
}

.overflow {
  overflow: auto;
}
.logo .svg {
  padding: 10px;
}

.loading-sign {
  border-style: solid;
  border-width: 5%;
  border-radius: 50%;
  border-color: var(--primary-back-85);
  // border-color: mix($primary-back, $primary-invert, 85);
  border-top-color: var(--primary-focus);
  animation: spin 1s linear infinite;
}

.error-symbol {
  width: 50%;
  height: 50%;
}

.error-symbol > div:nth-child(2) {
  position: relative;
}

.error-symbol > svg {
  width: 100%;
  height: 100%;
}

.error-symbol > svg > text {
  fill: var(--primary-invert);
}

.error-symbol > svg > path {
  fill: var(--primary-negate);
  stroke: transparent;
}

.error-symbol > div:nth-child(2) > div {
  position: absolute;
  top: 0;
  left: -25%;
  min-width: 150%;
  box-shadow: 0 0 10px var(--primary-invert);
  padding: 10px;
  opacity: 0;
  transition: opacity 200ms;
  background-color: var(--primary-back);
}

.error-symbol:hover > div:nth-child(2) > div {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-symbol {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-symbol div {
  animation: loading-symbol 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.loading-symbol div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-focus);
  margin: -3px 0 0 -3px;
}
.loading-symbol div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading-symbol div:nth-child(1)::after {
  top: 50px;
  left: 50px;
}
.loading-symbol div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading-symbol div:nth-child(2)::after {
  top: 54px;
  left: 45px;
}
.loading-symbol div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading-symbol div:nth-child(3)::after {
  top: 57px;
  left: 39px;
}
.loading-symbol div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading-symbol div:nth-child(4)::after {
  top: 58px;
  left: 32px;
}
.loading-symbol div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading-symbol div:nth-child(5)::after {
  top: 57px;
  left: 25px;
}
.loading-symbol div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading-symbol div:nth-child(6)::after {
  top: 54px;
  left: 19px;
}
.loading-symbol div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading-symbol div:nth-child(7)::after {
  top: 50px;
  left: 14px;
}
.loading-symbol div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading-symbol div:nth-child(8)::after {
  top: 45px;
  left: 10px;
}
@keyframes loading-symbol {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  cursor: wait;
}
