.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.collapse-left-leave-active,
.collapse-left-enter-active {
  transition: flex 250ms ease-out;
}

.collapse-left-leave-to,
.collapse-left-enter {
  flex: 0.00001;
}
