<template>
  <svg :width="dist" :height="height" :style="style" class="bond">
    <g :style="'transform:translate(0,' + (height / 2) + 'px);'">
      <partial-bond :dist="dist" v-if="bond.order === 0" />
      <single-bond :dist="dist" :visual-state="bond.visualState" v-if="bond.order === 1" />
      <double-bond :dist="dist" :visual-state="bond.visualState" v-if="bond.order === 2" />
    </g>
  </svg>
</template>
<script lang="ts">
import Vue from "vue";
import Bond from "../models/Bond";
import PartialBondVue from "./PartialBond.vue";
import SingleBondVue from "./SingleBond.vue";
import DoubleBondVue from "./DoubleBond.vue";
export default Vue.extend({
  components: {
    "partial-bond": PartialBondVue,
    "single-bond": SingleBondVue,
    "double-bond": DoubleBondVue
  },
  props: { bond: Object as () => Bond },
  computed: {
    dist: function() {
      return Math.hypot(
        this.bond.end.x - this.bond.start.x,
        this.bond.end.y - this.bond.start.y
      );
    },
    angle: function() {
      return Math.atan2(
        this.bond.end.y - this.bond.start.y,
        this.bond.end.x - this.bond.start.x
      );
    },
    style: function() {
      return (
        "transform-origin: center left; transform: translate(" +
        this.bond.start.x +
        "px, " +
        (this.bond.start.y - this.height / 2) +
        "px) rotate(" +
        this.angle +
        "rad);"
      );
    },
    height: function() {
      return 15;
    }
  }
});
</script>
