<template>
    <g>
        <line :x1="0" :y1="-5" :x2="dist" :y2="-5" />
        <line :x1="0" :y1="5" :x2="dist" :y2="5" />
    </g>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    dist: Number,
    visualState: Number
  }
});
</script>
