<template>
  <g>
    <line x1="0" y1="0" :x2="dist" y2="0" class="single" />
  </g>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: { dist: Number, visualState: Number }
});
</script>
