<template>
  <div class="grow">
    <div v-if="article">
      <div>Link to article: {{url}}</div>
      <div>Authors:
        <div v-for="author in authors" :key="author">{{author}}</div>
      </div>
    </div>
    <div :class="classes">
      <textarea name="plaintext-editor" id="plaintext-editor" cols="30" rows="10" v-model="text" @keydown.tab.prevent="filterTabs"></textarea>
      <iframe src="/mirror" frameborder="0" id="markdown-preview" sandbox="allow-scripts" referrer-policy="origin" ref="markdown-preview"></iframe>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Note, ArticleNote, PartialUpdate, Edit, EditAction } from "@/models";
import { getBaseUrl } from "@/services";
let magicWindow: any = window as any;

const codePattern = /(?:<pre><code class="language-([\s\S]+?)">([\s\S]+?)<\/code><\/pre>)|(?:<pre><code>([\s\S]+?)<\/code><\/pre>)/g;
const mathPattern = /(?:\$\$([\s\S]+?)\$\$)|(?:\\\\\[([\s\S]+?)\\\\\])|(?:\\\\\(([\s\S]+?)\\\\\))/g;
const matrixPattern = /(?:\[(?:\/(s|b|B|p|v|V|(?:small))\/)?[\s]*([\s\S]+?;[\s\S]+?)\])/g;
const colorPattern = /\/.\/([\s\S]+?)\/([\s\S]*?)\/.\//g;
const arrowPattern = /(?:<!--([\s\S]*?)-->)|(?:[\s]+(-->)[\s]+)|(?:[\s]+(<--)[\s]+)|(?:[\s]+<-->[\s]+)/g;
export default Vue.extend({
  props: { note: Object as () => Note, edit: Boolean },
  data() {
    return {
      text: this.note ? this.note.text : "",
      documentKeyListener: undefined as any,
      rewriteListener: undefined as any,
      noteChanged: false,
      differ: undefined as any
    };
  },
  mounted: function() {
    this.differ = new magicWindow.diff_match_patch();
    document.addEventListener(
      "keydown",
      (this.documentKeyListener = (keyEvent: KeyboardEvent) =>
        this.handleKeyEvent(keyEvent))
    );
    window.addEventListener("message", (this.rewriteListener = (
      ev: MessageEvent
    ) => this.childMessage(ev)) as any);
    this.load();
  },
  beforeDestroy: function() {
    document.removeEventListener("keydown", this.documentKeyListener);
    window.removeEventListener("message", this.rewriteListener);
  },
  watch: {
    text(latest, old) {
      this.note.text = latest;
      this.load();
      if (this.noteChanged) {
        this.noteChanged = false;
      } else {
        let results = this.differ.diff_main(old, latest),
          length = 0,
          updates = [];
        this.differ.diff_cleanupEfficiency(results);
        for (let i = 0; i < results.length; i++) {
          if (~results[i][0]) {
            if (!(results[i][0] - 1)) {
              updates.push(
                new Edit(EditAction.INSERTION, length, results[i][1])
              );
            }
            length += results[i][1].length;
          } else {
            updates.push(new Edit(EditAction.DELETION, length, results[i][1]));
          }
        }
        this.$store.commit("artifacts/queueUpdate", {
          id: this.note.id,
          update: new PartialUpdate(this.note.id, updates)
        });
        results = this.differ.diff_main(old, latest);
        this.differ.diff_cleanupSemantic(results);
      }
    },
    note: function(latest, old) {
      if (old) old.text = this.text;
      this.noteChanged = true;
      this.text = "";
      if (latest) {
        this.noteChanged = true;
        this.text = latest.text;
      }
      this.load();
    },
    theme: function(latest) {
      this.$nextTick(() => this.changeTheme());
    }
  },
  computed: {
    article: function() {
      return this.note instanceof ArticleNote;
    },
    authors: function() {
      return this.article ? (this.note as ArticleNote).authors : [];
    },
    url: function() {
      return this.article ? (this.note as ArticleNote).url : "No url found";
    },
    classes: function() {
      let clazzes = ["content", "grow"];
      if (!this.edit) {
        clazzes.push("preview");
      }
      return clazzes;
    },
    theme: function() {
      return this.$store.state.theme;
    }
  },
  methods: {
    changeTheme: function() {
      (this.$refs[
        "markdown-preview"
      ] as HTMLIFrameElement).contentWindow!.postMessage(
        "theme//" + this.$store.state.theme,
        "*"
      );
    },
    childMessage: function(ev: MessageEvent) {
      if (ev.data === "rewrite") {
        this.load();
        this.changeTheme();
      }
    },
    load() {
      let contentWindow = (this.$refs["markdown-preview"] as HTMLIFrameElement)
        .contentWindow;
      let currentHTML = this.colorHandle(
        this.deEscapeAmpersands(
          this.highlightCode(
            magicWindow.marked(this.encodeMath(this.arrow(this.text)))
          )
        )
      );
      if (contentWindow)
        contentWindow!.postMessage("html//" + currentHTML, "*");
      this.$store.commit("artifacts/setCurrentHTML", currentHTML);
    },
    filterTabs: function(event: KeyboardEvent) {
      let text = this.text,
        originalSelectionStart = (event.target as any).selectionStart,
        textStart = text.slice(0, originalSelectionStart),
        textEnd = text.slice(originalSelectionStart);
      this.text = textStart + "  " + textEnd;
      (event.target as any).value = this.text;
      (event.target as any).selectionEnd = (event.target as any).selectionStart =
        originalSelectionStart + 2;
    },
    applyHighlighting: function(
      match: string,
      p1: string,
      p2: string,
      p3: string
    ): string {
      return p1 && p2
        ? match.replace(p2, magicWindow.hljs.highlight(p1, p2).value)
        : match.replace(
            p2 || p3,
            magicWindow.hljs.highlightAuto(p2 || p3).value
          );
    },
    highlightCode: function(markdownApplied: string): string {
      codePattern.lastIndex = 0;
      return this.deEscapeAmpersands(
        markdownApplied.replace(codePattern, this.applyHighlighting)
      );
    },
    deEscapeAmpersands: function(html: string): string {
      let str = html.replace(
        /&amp;([\s\S]*?;)/g,
        (match: string, p1: string) => "&" + p1
      );
      return str;
    },
    async save() {
      let text = this.text;
      this.note.text = text;
      this.$store.dispatch("artifacts/save", this.note.id);
    },
    handleKeyEvent: function(keyEvent: KeyboardEvent) {
      switch (keyEvent.key) {
        case "s":
          if (keyEvent.ctrlKey && this.note) {
            this.save();
            keyEvent.preventDefault();
          }
          break;
        case "w":
          if (keyEvent.ctrlKey && this.note) {
            this.save();
            this.$store.dispatch("artifacts/close", this.note.id);
            keyEvent.preventDefault();
          }
          break;
      }
    },
    encodeMath: function(html: string): string {
      mathPattern.lastIndex = 0;
      return html
        .split(/\\\$/)
        .join(String.fromCharCode(16))
        .replace(mathPattern, this.replMath);
    },
    replMath: function(
      match: string,
      p1: string,
      p2: string,
      p3: string
    ): string {
      let str = p1 || p2 || p3;
      matrixPattern.lastIndex = 0;
      str = str.replace(matrixPattern, this.replMatrix);
      let displayMode = p1 || p2;
      return magicWindow.katex.renderToString(
        str.split(String.fromCharCode(16)).join("\\$"),
        { throwOnError: false, displayMode }
      );
    },
    replMatrix: function(match: string, p1: string, p2: string) {
      return (
        "\\begin{" +
        (p1 || "b") +
        "matrix}" +
        p2.replace(/;[\s]*/g, "\\\\").replace(/[\s]{2,}/g, "&") +
        "\\end{" +
        (p1 || "b") +
        "matrix}"
      );
    },
    colorHandle: function(html: string) {
      colorPattern.lastIndex = 0;
      return html.replace(colorPattern, this.replColor);
    },
    replColor: function(match: string, p1: string, p2: string) {
      return "<span style='color:" + (p1 || "inherit") + "'>" + p2 + "</span>";
    },
    arrow: function(html: string) {
      arrowPattern.lastIndex = 0;
      return html.replace(arrowPattern, this.replArrow);
    },
    replArrow: function(
      match: string,
      p1: string,
      p2: string,
      p3: string,
      p4: string
    ): string {
      if (p1) {
        return match;
      } else if (p2) {
        return match.replace("-->", "→");
      } else if (p3) {
        return match.replace("<--", "←");
      } else {
        return match.replace("<-->", "↔");
      }
    }
  }
});
</script>
