<template>
  <div id="mirror" v-html="writtenHtml"></div>
</template>
<script lang="ts">
import Vue from "vue";
import { getBaseUrl } from "@/services";
let magicWindow = window as any;

export default Vue.extend({
  mounted: function() {
    window.addEventListener(
      "message",
      (this.readMessageListener = (ev: MessageEvent) => this.readMessage(ev))
    );
    window.parent.postMessage("rewrite", "*");
  },
  beforeDestroy: function() {
    window.removeEventListener("message", this.readMessageListener);
  },
  data: function() {
    return {
      writtenHtml: "",
      readMessageListener: undefined as any
    };
  },
  methods: {
    rewrite: function(html: string) {
      this.writtenHtml = html;
    },
    readMessage: function(ev: MessageEvent) {
      if (ev.origin.includes(getBaseUrl().replace(":8000", ":8080"))) {
        let subject = ev.data.substring(0, ev.data.indexOf("//"));
        if (subject === "html") this.rewrite(ev.data.substring(6));
        else if (subject == "theme") {
          document.documentElement!.classList.remove(
            document.documentElement!.classList.item(0)!
          );
          document.documentElement!.classList.add(ev.data.substring(7));
        }
      }
    }
  }
});
</script>

