$blue-primary-back: #0000bb;
$blue-primary-invert: white;
$blue-primary-focus: white;
$blue-secondary-focus: lime;
$blue-primary-negate: red;

$blue-logo-color-major: #00bbff;

$blue-highlight-text-color: white;

.blue {
  --primary-back: #{$blue-primary-back};
  --primary-invert: #{$blue-primary-invert};
  --primary-focus: #{$blue-primary-focus};
  --primary-negate: #{$blue-primary-negate};
  --primary-back-85: #{mix($blue-primary-back, $blue-primary-invert, 85)};
  --primary-back-75: #{mix($blue-primary-back, $blue-primary-invert, 75)};
  --select-focus: #{transparentize($blue-primary-focus, 0.85)};
  --hover-focus: #{transparentize($blue-primary-focus, 0.7)};
  --press-focus: #{transparentize($blue-primary-focus, 0.5)};
  --hover-negate: #{transparentize($blue-primary-negate, 0.7)};
  --press-negate: #{transparentize($blue-primary-negate, 0.5)};
  --logo-color-major: #{$blue-logo-color-major};
  --logo-color-major-50: #{mix($blue-logo-color-major, $blue-primary-invert, 50)};
  --logo-color-major-25: #{mix($blue-logo-color-major, $blue-primary-invert, 25)};
}
