$dark-primary-back: #222222;
$dark-primary-invert: #cccccc;
$dark-primary-focus: #0088ff;
$dark-secondary-focus: lime;
$dark-primary-negate: red;

$dark-logo-color-major: #0088ff;

$dark-highlight-text-color: #dddddd;

.dark {
  --primary-back: #{$dark-primary-back};
  --primary-invert: #{$dark-primary-invert};
  --primary-focus: #{$dark-primary-focus};
  --primary-negate: #{$dark-primary-negate};
  --primary-back-85: #{mix($dark-primary-back, $dark-primary-invert, 85)};
  --primary-back-75: #{mix($dark-primary-back, $dark-primary-invert, 75)};
  --select-focus: #{transparentize($dark-primary-focus, 0.85)};
  --hover-focus: #{transparentize($dark-primary-focus, 0.7)};
  --press-focus: #{transparentize($dark-primary-focus, 0.5)};
  --hover-negate: #{transparentize($dark-primary-negate, 0.7)};
  --press-negate: #{transparentize($dark-primary-negate, 0.5)};
  --logo-color-major: #{$dark-logo-color-major};
  --logo-color-major-50: #{mix($dark-logo-color-major, $dark-primary-invert, 50)};
  --logo-color-major-25: #{mix($dark-logo-color-major, $dark-primary-invert, 25)};
}
