$green-primary-back: #00bb00;
$green-primary-invert: white;
$green-primary-focus: white;
$green-secondary-focus: lime;
$green-primary-negate: red;

$green-logo-color-major: #00bbff;

$green-highlight-text-color: white;

.green {
  --primary-back: #{$green-primary-back};
  --primary-invert: #{$green-primary-invert};
  --primary-focus: #{$green-primary-focus};
  --primary-negate: #{$green-primary-negate};
  --primary-back-85: #{mix($green-primary-back, $green-primary-invert, 85)};
  --primary-back-75: #{mix($green-primary-back, $green-primary-invert, 75)};
  --select-focus: #{transparentize($green-primary-focus, 0.85)};
  --hover-focus: #{transparentize($green-primary-focus, 0.7)};
  --press-focus: #{transparentize($green-primary-focus, 0.5)};
  --hover-negate: #{transparentize($green-primary-negate, 0.7)};
  --press-negate: #{transparentize($green-primary-negate, 0.5)};
  --logo-color-major: #{$green-logo-color-major};
  --logo-color-major-50: #{mix(
      $green-logo-color-major,
      $green-primary-invert,
      50
    )};
  --logo-color-major-25: #{mix(
      $green-logo-color-major,
      $green-primary-invert,
      25
    )};
}
