$red-primary-back: #bb0000;
$red-primary-invert: white;
$red-primary-focus: white;
$red-secondary-focus: lime;
$red-primary-negate: black;

$red-logo-color-major: #00bbff;

$red-highlight-text-color: white;

.red {
  --primary-back: #{$red-primary-back};
  --primary-invert: #{$red-primary-invert};
  --primary-focus: #{$red-primary-focus};
  --primary-negate: #{$red-primary-negate};
  --primary-back-85: #{mix($red-primary-back, $red-primary-invert, 85)};
  --primary-back-75: #{mix($red-primary-back, $red-primary-invert, 75)};
  --select-focus: #{transparentize($red-primary-focus, 0.85)};
  --hover-focus: #{transparentize($red-primary-focus, 0.7)};
  --press-focus: #{transparentize($red-primary-focus, 0.5)};
  --hover-negate: #{transparentize($red-primary-negate, 0.7)};
  --press-negate: #{transparentize($red-primary-negate, 0.5)};
  --logo-color-major: #{$red-logo-color-major};
  --logo-color-major-50: #{mix($red-logo-color-major, $red-primary-invert, 50)};
  --logo-color-major-25: #{mix($red-logo-color-major, $red-primary-invert, 25)};
}
