$standard-primary-back: white;
$standard-primary-invert: black;
$standard-primary-focus: #0088ff;
$standard-secondary-focus: lime;
$standard-primary-negate: red;

$standard-logo-color-major: #0088ff;

$standard-highlight-text-color: white;

.standard {
  --primary-back: #{$standard-primary-back};
  --primary-invert: #{$standard-primary-invert};
  --primary-focus: #{$standard-primary-focus};
  --primary-negate: #{$standard-primary-negate};
  --primary-back-85: #{mix($standard-primary-back, $standard-primary-invert, 85)};
  --primary-back-75: #{mix($standard-primary-back, $standard-primary-invert, 75)};
  --select-focus: #{transparentize($standard-primary-focus, 0.85)};
  --hover-focus: #{transparentize($standard-primary-focus, 0.7)};
  --press-focus: #{transparentize($standard-primary-focus, 0.5)};
  --hover-negate: #{transparentize($standard-primary-negate, 0.7)};
  --press-negate: #{transparentize($standard-primary-negate, 0.5)};
  --logo-color-major: #{$standard-logo-color-major};
  --logo-color-major-50: #{mix(
      $standard-logo-color-major,
      $standard-primary-invert,
      50
    )};
  --logo-color-major-25: #{mix(
      $standard-logo-color-major,
      $standard-primary-invert,
      25
    )};
}
