.edit,
.edit * {
  display: flex;
}

.edit .pad {
  padding: 0 10px;
}

.edit .pad-all {
  padding: 10px;
}

.edit .pad-left {
  padding-left: 10px;
}

.edit .editor {
  transition: width 250ms ease-in-out, flex 250ms ease-in-out;
  position: relative;
}

.edit .tree {
  position: static;
  transition: transform 250ms ease-in-out;
  transform: translateX(0);
}

@media (orientation: landscape) {
  .edit .tree {
    min-width: 25vw;
  }

  .edit.expand .tree {
    transform: translateX(-50vw);
  }
}

@media (orientation: portrait) {
  .edit .tree {
    min-width: 100vw;
  }

  .edit.expand .tree {
    transform: translateX(-200vw);
  }

  .edit .editor > .expand-icon {
    left: -40px;
  }
}

.edit.expand .tree {
  position: absolute;
  height: 100%;
}

.edit .editor > .expand-icon {
  position: absolute;
  font-size: 2em;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-invert);
  border-radius: 5px;
  opacity: 0.15;
  transition: opacity 250ms ease-out;
}

.edit .editor > .expand-icon:hover {
  opacity: 1;
}

.tab-layout:hover {
  animation-duration: 0.5s;
  animation-name: expand-row;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-height: 20px;
}

.tab-layout {
  animation-duration: 0.5s;
  animation-name: contract-row;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-height: 50px;
}

@keyframes expand-row {
  to {
    max-height: 50px;
  }
}

@keyframes contract-row {
  to {
    max-height: 20px;
  }
}

.edit object {
  pointer-events: none;
}

.edit .vert-center {
  align-items: center;
}

.edit .large-text {
  font-size: 2em;
}

.edit .logo svg {
  width: 40vw;
  height: 40vh;
}

.tab.selected {
  @extend .standard-button;
  background-color: var(--selected-focus);
}

#mirror .katex-mathml {
  display: none;
}

.tab-layout .dropdown-content {
  min-width: 200px;
}

#markdown-preview,
#plaintext-editor {
  border-color: var(--primary-invert);
  border-width: 0.5px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  flex-grow: 1;
}

#plaintext-editor {
  position: static;
  font-size: 1em;
  opacity: 1;
  transition: opacity 250ms;
}

#mirror {
  padding: 0 15px;
}

.content {
  position: relative;
}

.content.preview > #plaintext-editor {
  opacity: 0;
  position: absolute;
}
