.home .title {
  font-size: 5em;
}

.home .controls {
  font-size: 2.5em;
}

.home .pad {
  padding: 0 10px;
}

.home .pad-all {
  padding: 10px;
}

.home .margin-all {
  margin: 10px;
}

.home .standard-button {
  color: var(--primary-focus);
}

.home .logo svg,
.home .logo {
  height: 50vh;
}

.home .logo.short svg,
.home .logo.short {
  height: 25vh;
}

.home .logo.short {
  margin-top: 60px;
}

.home label {
  text-align: end;
}

.home,
.home *,
.main,
.main * {
  display: flex;
  flex-shrink: 0;
}

.home .modal .cell label {
  flex-direction: row-reverse;
  padding: 0px 5px;
}

.home {
  user-select: none;
}
