//Theming stylesheets
@import "./themes/standard-theme.scss";
@import "./themes/red-theme.scss";
@import "./themes/green-theme.scss";
@import "./themes/dark-theme.scss";
@import "./themes/blue-theme.scss";
//Utils
@import "./utils/transitions.scss";
@import "./utils/extends.scss";
@import "./utils/mixins.scss";
@import "./utils/standards.scss";
@import "./utils/table.scss";
//Real styling
@import "./edit.scss";
@import "./logo.scss";
@import "./home.scss";
@import "./explorer.scss";
@import "./tree.scss";
@import "./nav.scss";
@import "./user.scss";
// @import "./mdraw-styling.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body,
body * {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  background: var(--primary-back);
  color: var(--primary-invert);
}

input,
textarea {
  border: none;
  color: var(--primary-invert);
  background: var(--primary-back);
  border-bottom: 1px white;
  font-size: 0.75em;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  display: flex;
}

html {
  overflow: hidden;
  max-height: 100vh;
}

body {
  overflow: auto;
}
