.logo .top-face {
  fill: var(--logo-color-major);
}

.logo .right-face {
  fill: var(--logo-color-major-50);
  // fill: mix($logo-color-major, $primary-invert, 50);
}

.logo .left-face {
  fill: var(--logo-color-major-25);
  // fill: mix($logo-color-major, $primary-invert, 25);
}

.logo {
  pointer-events: none;
}
