.rgroup.back {
  border-radius: 50%;
  border-color: $primary-invert;
  border-width: 0.5px;
  border-style: solid;
  padding: 2.5px;
  user-select: none;
  position: absolute;
  background-color: $primary-back;
}

.drawing-surface {
  position: relative;
  flex: 1;
}

.bond {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  stroke: $primary-invert;
}

.bond .full {
  width: 100%;
}

.bond .short {
  width: 80%;
}

.drawing-surface .inline {
  display: inline-block;
  margin: auto;
}

.partial {
  stroke-dasharray: 7.5;
}

.angle-widget {
  fill: transparent;
  stroke: $primary-invert;
  stroke-width: 1px;
  stroke-dasharray: 5;
  position: relative;
}
.angle-widget-container {
  position: absolute;
}

.angle-editor {
  position: absolute;
}

.menu {
  background-color: mix($primary-back, $primary-invert, 85);
  padding: 20px;
}

.mdraw-layout {
  display: flex;
}

.display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
