.nav-bar .dropdown-target,
.nav-bar .standard-button {
  align-items: center;
  padding: 10px 15px;
}

.nav-bar {
  background-color: var(--primary-back-85);
  // background-color: mix($primary-back, $primary-invert, 85);
  flex-shrink: 0;
}

.nav-bar #search-bar {
  font-size: 1em;
}

.nav-bar > div:first-child {
  min-width: 20vw;
}

.nav-bar .pad-all {
  padding: 5px;
}

.search-bar .dropdown-content {
  width: 80%;
  left: 0;
  top: 0;
}

.about svg {
  height: 50vh;
  width: 50vw;
}

.about > .spacing {
  height: 10vh;
}

.about {
  font-size: 2em;
}

.about .standard-button {
  color: var(--primary-focus);
}

.about,
.about * {
  display: flex;
}

.about .pad {
  padding: 0 5px;
}
