.tree .indent {
  margin-left: 5.75px;
  border-left: 1px;
  padding-left: 5.75px;
  border-left-style: solid;
}

.tree .dropdown-content {
  left: initial;
  right: 0;
}

.add-bar .dropdown-content {
  width: 25vw;
  padding: 10px 0;
}

.add-bar {
  background-color: var(--primary-back-75);
  // background-color: mix($primary-back, $primary-invert, 75);
  padding: 2.5px;
}

.tree {
  background-color: var(--primary-back-85);
  // background-color: mix($primary-back, $primary-invert, 90);
}

.roll {
  overflow-y: scroll;
  overflow-x: auto;
  height: 100%;
}

.add-bar .standard-button,
.tree .dropdown-target {
  padding: 0 5px;
}

.tree-item .dropdown-content > * {
  padding: 10px;
}

.tree-item,
.add-bar {
  flex-shrink: 0;
}

.tree-item .focused {
  background-color: var(--select-focus);
  // background-color: transparentize($primary-focus, 0.75);
}

.tree-item .icon {
  height: 30px;
  width: 30px;
}

.tree .pad-all {
  padding: 10px;
}

.tree .vert-center {
  align-items: center;
}

.tree .pad-left {
  padding-left: 5px;
}

.tree .bubble {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-back-85);
  // background-color: mix($primary-back, $primary-invert, 85);
}

.tree .v-pad {
  margin: 1px 0;
}

.tree .pad-extra {
  padding: 2.5px;
}

.tree .loading-sign-mini-container {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.tree .loading-sign-mini-container > div {
  flex: 1;
}

.tree-item .error-symbol > div:nth-child(2) > div,
.add-bar .error-symbol > div:nth-child(2) > div {
  right: 0;
  left: initial;
}
