.user,
.user * {
  display: flex;
}

.profile-picture .fill {
  fill: var(--primary-invert);
}

.profile-picture .stroke {
  stroke: var(--primary-invert);
  stroke-width: 2.5px;
  fill: transparent;
}

.user .profile-picture {
  height: 25vh;
  width: 25vw;
}

.user .large-text {
  font-size: 2em;
}

.user .medium-large-text {
  font-size: 1.5em;
}

.user .italics {
  font-style: italic;
}
