<template>
  <div class="add-bar">
    <div class="col-layout grow">
      <div class="dropdown-backing" v-if="adding" @click="adding=false"></div>
      <div>
        <div class="grow">Add Items</div>
        <div class="loading-sign-mini-container">
          <transition name="fade">
            <div v-if="loadingCount" class="loading-sign"></div>
            <div class="grow center" v-else-if="error">
              <div class="error-symbol col-layout">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255 255">
                  <path stroke="#000" d="m2.49998,74.84426l72.34426,-72.34425l102.3115,0l72.34426,72.34425l0,102.31151l-72.34426,72.34426l-102.3115,0l-72.34426,-72.34426l0,-102.31151z" />
                  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="200" y="198" x="99">!</text>
                </svg>
                <div>
                  <div>A connection error has occured ({{httpCode === undefined ? "Unknown HTTP code" : ("HTTP Error " + httpCode)}}). Please try again later</div>
                </div>
              </div>
            </div>
          </transition>
        </div>
        <div @click.stop="addFolder()" class="standard-button">
          <img src="/static/assets/fontawesome/folder-plus-solid.svg" type="image/svg+xml" height="25px" alt="Create New Folder" />
        </div>
        <div @click.stop="addItem()" class="standard-button">
          <img src="/static/assets/fontawesome/file-medical-solid.svg" type="image/svg+xml" height="25px" alt="Create New Item" />
        </div>
      </div>
      <transition name="fade">
        <div v-if="adding" class="dropdown" @click.stop>
          <div class="dropdown-content center">
            <form @submit.prevent.stop="completeAdd()">
              <div class="col-layout">
                <div class="pad-all">
                  <label for="item-type-input">Type:</label>
                  <select name="item-type-input" id="item-type-input" v-model="addType">
                    <option value="DIRECTORY">Folder</option>
                    <option value="NOTE">Note</option>
                    <option value="ARTICLE">Article</option>
                  </select>
                </div>
                <div class="pad-all">
                  <label for="item-name-input">Name:</label>
                  <input ref="name" type="text" name="item-name-input" id="item-name-input" v-model="itemName" @keydown.191.stop.prevent="delimiter" />
                </div>
                <div v-if="addType==='ARTICLE'" class="pad-all">
                  <label for="article-url-input">URL:</label>
                  <input type="url" name="article-url-input" id="article-url-input" v-model="url" />
                </div>
                <div @click="completeAdd()" class="standard-button center">Create</div>
              </div>
            </form>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { ItemType, Directory, Note, ArticleNote } from "@/models";
import { DirectoryIdentifier } from "@/services";
import { exteriorClick } from "@/directives";

let standardDelimiter = "_";

export default Vue.extend({
  props: { hide: Boolean },
  directives: { "exterior-click": exteriorClick },
  data: function() {
    return {
      adding: false,
      addType: "",
      itemName: "",
      url: "",
      loadingCount: 0,
      error: false,
      httpCode: undefined
    };
  },
  watch: {
    hide: function(next) {
      if (next) {
        this.adding = false;
      }
    }
  },
  methods: {
    addFolder: function() {
      this.addType = "DIRECTORY";
      this.adding = true;
    },
    addItem: function() {
      this.addType = "NOTE";
      this.adding = true;
    },
    completeAdd: async function() {
      if (this.itemName) {
        try {
          switch (this.addType) {
            case "DIRECTORY":
              this.loadingCount++;
              this.adding = false;
              await this.$store.dispatch("artifacts/createDirectory", {
                name: this.itemName,
                parentId: this.$store.getters["artifacts/focusedDirectory"]
              });
              this.loadingCount--;
              break;
            case "NOTE":
              this.loadingCount++;
              this.adding = false;
              await this.$store.dispatch("artifacts/createNote", {
                name: this.itemName,
                parentId: this.$store.getters["artifacts/focusedDirectory"]
              });
              this.loadingCount--;
              break;
            case "ARTICLE":
              this.loadingCount++;
              this.adding = false;
              await this.$store.dispatch("artifacts/createArticleNote", {
                name: this.itemName,
                url: this.url,
                parentId: this.$store.getters["artifacts/focusedDirectory"]
              });
              this.loadingCount--;
              break;
            default:
              break;
          }
        } catch (error) {
          this.loadingCount--;
          this.error = true;
          this.httpCode =
            error.request && error.request.status !== undefined
              ? error.request.status
              : undefined;
        }
      }
    },
    delimiter: function() {
      let field = this.$refs["name"] as HTMLInputElement;
      this.itemName =
        field.selectionDirection === "backward"
          ? this.itemName.substring(
              0,
              (field.selectionEnd || field.selectionStart)!
            ) +
            standardDelimiter +
            this.itemName.substring(field.selectionStart!)
          : this.itemName.substring(0, field.selectionStart!) +
            standardDelimiter +
            this.itemName.substring(
              (field.selectionEnd || field.selectionStart)!
            );
    }
  }
});
</script>
