<template>
  <div class="tree col-layout" @click="defocus">
    <add-bar :hide="hide" />
    <img style="display:none" src="/static/assets/fontawesome/folder-regular.svg" />
    <img style="display:none" src="/static/assets/fontawesome/file-alt-solid.svg" />
    <img style="display:none" src="/static/assets/fontawesome/folder-open-regular.svg" />
    <img style="display:none" src="/static/assets/fontawesome/link-solid.svg" />
    <div v-if="loading" class="grow center">
      <loading-symbol />
    </div>
    <div class="grow center" v-else-if="error">
      <div class="error-symbol col-layout">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255 255">
          <path stroke="#000" d="m2.49998,74.84426l72.34426,-72.34425l102.3115,0l72.34426,72.34425l0,102.31151l-72.34426,72.34426l-102.3115,0l-72.34426,-72.34426l0,-102.31151z" />
          <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="200" y="198" x="99">!</text>
        </svg>
        <div>
          <div>A connection error has occured ({{httpCode === undefined ? "Unknown HTTP code" : ("HTTP Error " + httpCode)}}). Please try again later</div>
        </div>
      </div>
    </div>
    <div v-else class="col-layout roll">
      <div class="grow col-layout">
        <tree-item v-for="item in roots" :key="item.id" :item="item" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Item } from "@/models";
import { localRefreshInterval } from "@/constants";
const AddBarVue = () => import("./AddBar.vue");
const LoadingVue = () => import("@/components/utilities/Loading.vue");
const TreeItemVue = () => import("./TreeItem.vue");
export default Vue.extend({
  props: { hide: Boolean },
  components: {
    "tree-item": TreeItemVue,
    "add-bar": AddBarVue,
    "loading-symbol": LoadingVue
  },
  data: function() {
    return {
      roots: [] as Item[],
      intervalId: undefined as undefined | number,
      loading: true,
      error: true,
      httpCode: undefined
    };
  },
  mounted: async function() {
    await this.rootDirList();
    this.loading = false;
    this.intervalId = window.setInterval(
      () => this.rootDirList(),
      localRefreshInterval
    );
  },
  beforeDestroy: function() {
    window.clearInterval(this.intervalId);
  },
  methods: {
    rootDirList: async function() {
      try {
        this.roots = await this.$store.dispatch("artifacts/getChildren", "");
        this.error = false;
        this.httpCode = undefined;
      } catch (error) {
        this.error = true;
        this.roots = [];
        this.httpCode =
          error.request && error.request.status !== undefined
            ? error.request.status
            : undefined;
      }
    },
    defocus: function() {
      this.$store.commit("artifacts/focus", "");
    }
  }
});
</script>
