<template>
  <div class="tree-item col-layout">
    <div @click.stop="click()" :class="classes">
      <div class="grow">
        <img :src="imgSrc" class="icon" :alt="imgName"/>
        <div class="grow vert-center pad-left" :title="item.title">{{name}}</div>
      </div>
      <div class="center">
        <div class="loading-sign-mini-container">
          <transition name="fade">
            <div v-if="loadingCount" class="loading-sign"></div>
            <div class="grow center" v-else-if="error">
              <div class="error-symbol col-layout">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255 255">
                  <path stroke="#000" d="m2.49998,74.84426l72.34426,-72.34425l102.3115,0l72.34426,72.34425l0,102.31151l-72.34426,72.34426l-102.3115,0l-72.34426,-72.34426l0,-102.31151z" />
                  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="200" y="198" x="99">!</text>
                </svg>
                <div>
                  <div>A connection error has occured ({{httpCode === undefined ? "Unknown HTTP code" : ("HTTP Error " + httpCode)}}). Please try again later</div>
                </div>
              </div>
            </div>
          </transition>
        </div>
        <div @click.stop="showingDropdown=true" @mouseleave="showingDropdown=false" class="standard-button col-layout pad-extra center">
          <div class="bubble v-pad"></div>
          <div class="bubble v-pad"></div>
          <div class="bubble v-pad"></div>
          <transition name="fade">
            <div v-if="showingDropdown" class="dropdown col-layout" @mouseenter="showingDropdown=true">
              <div class="dropdown-content">
                <div @click.stop="deleteItem(item)" class="close-button">Delete</div>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div v-if="open" class="col-layout indent grow">
        <tree-item v-for="(child, index) in children" :key="index" :item="child" />
      </div>
    </transition>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Item, ItemType, getImageSource, getName } from "@/models";
import { localRefreshInterval } from "@/constants";
export default Vue.extend({
  props: {
    item: Item
  },
  data: function() {
    return {
      open: false,
      loadingCount: 0,
      children: [] as Item[],
      updateId: -1,
      showingDropdown: false,
      error: false,
      httpCode: undefined
    };
  },
  computed: {
    classes: function() {
      let clazzes = ["standard-button", "pad-all"];
      if (this.focused) {
        clazzes.push("focused");
      }
      return clazzes;
    },
    imgSrc: function() {
      return getImageSource(this.item.type, this.open);
    },
    imgName: function() {
      return getName(this.item.type);
    },
    couldHaveChildren: function() {
      return this.item.type === ItemType.DIRECTORY;
    },
    focused: function() {
      return this.item && this.$store.state.artifacts.focused === this.item.id;
    },
    name: function() {
      return this.item.title.length > 10
        ? this.item.title.substring(0, 10) + "..."
        : this.item.title;
    }
  },
  beforeDestroy: function() {
    if (!~this.updateId) {
      window.clearInterval(this.updateId);
    }
  },
  methods: {
    async deleteItem(item: Item) {
      this.$store.dispatch("artifacts/delete", item.id);
    },
    updateChildren: async function() {
      try {
        if (this.couldHaveChildren) {
          let newChildren: Item[] = await this.$store.dispatch(
            "artifacts/getChildren",
            this.item.id
          );
          //TODO: compare lists and reorder/modify this treeitem's child list to match that of the server
          this.children = newChildren
            .slice(0)
            .sort(
              (i1: Item, i2: Item) =>
                i1.type - i2.type || i1.title.localeCompare(i2.title)
            );
          this.error = false;
          this.httpCode = undefined;
        }
      } catch (error) {
        this.error = true;
        this.httpCode =
          error.request && error.request.status !== undefined
            ? error.request.status
            : undefined;
      }
    },
    click: async function() {
      if (this.couldHaveChildren) {
        if ((this.open = !this.open)) {
          this.loadingCount++;
          await this.updateChildren();
          this.loadingCount--;
          this.updateId = window.setInterval(
            () => this.updateChildren(),
            localRefreshInterval
          );
        } else {
          window.clearInterval(this.updateId);
          this.updateId = -1;
        }
      } else {
        this.loadingCount++;
        try {
          await this.$store.dispatch("artifacts/open", this.item.id);
          this.error = false;
          this.httpCode = undefined;
        } catch (error) {
          this.error = true;
          this.httpCode =
            error.request && error.request.status !== undefined
              ? error.request.status
              : undefined;
        } finally {
          this.loadingCount--;
        }
      }
      this.$store.commit("artifacts/focus", this.item.id);
    }
  },
  name: "tree-item"
});
</script>
