<template>
  <div class="home grow col-layout center">
    <div class="grow col-layout center">
      <div class="logo center">
        <site-logo />
      </div>
      <div class="col-layout center">
        <div class="title">
          Notes
        </div>
        <div class="center controls" v-if="loaded">
          <div class="standard-button pad" @click="showLoginModal(false)">Login</div>
          or
          <div class="standard-button pad" @click="showLoginModal(true)">Register Now</div>
          <transition name="fade">
            <div v-if="loggingIn" @click="loggingIn=false" class="modal-back">
              <login-page :initial="initial" />
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
const LandingPageVue = () => import("./LRModal.vue");
const CubeVue = () => import("../utilities/Cube.vue");
export default Vue.extend({
  components: {
    "login-page": LandingPageVue,
    "site-logo": CubeVue
  },
  beforeMount() {
    this.$store.dispatch("services/auth/getLoggedIn").then(f => {
      if (f) {
        this.$router.push("/edit");
        return;
      }
      this.loaded = true;
    });
  },
  data: function() {
    return { loggingIn: false, initial: false, loaded: false };
  },
  computed: {
    name: function() {
      return this.$store.state.name || this.$store.state.username;
    }
  },
  watch: {
    name: function(latest, old) {
      if (latest) {
        this.loggingIn = false;
      }
    }
  },
  methods: {
    clearCredentials: function() {
      this.$store.commit("clearCredentials");
    },
    showLoginModal: function(register: boolean) {
      this.initial = register;
      this.loggingIn = true;
    }
  }
});
</script>
