<template>
    <div @click.stop class="modal">
        <div class="center col-layout overflow">
            <div class="logo short">
                <site-logo />
            </div>
            <transition name="fade" mode="out-in">
                <component :is="register ? 'register-form' : 'login-form'" />
            </transition>
            <transition name="fade" mode="out-in">
                <div v-if="!register" key="registerLink">
                    Click
                    <div class="standard-button pad" @click="register=true">here</div>
                    to create an account!
                </div>
                <div class="standard-button" @click="register=false" v-else key="loginButton">I already have an account</div>
            </transition>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import User from "@/models/auth/User";
const CubeVue = () => import("../utilities/Cube.vue");
const Register = () => import("../auth/Register.vue");
const Login = () => import("../auth/Login.vue");

export default Vue.extend({
  props: { initial: Boolean },
  components: {
    "register-form": Register,
    "login-form": Login,
    "site-logo": CubeVue
  },
  data() {
    return {
      register: this.initial
    };
  }
});
</script>
