<template>
  <div class="col-layout grow main">
    <navigation />
    <explorer :id="directoryId" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
const NavigationVue = () => import("@/components/nav/Navigation.vue");
const ExplorerVue = () => import("./explorer/Explorer.vue");
export default Vue.extend({
  components: {
    navigation: NavigationVue,
    explorer: ExplorerVue
  },
  data() {
    return {
      directoryId: undefined as string | undefined | null
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => (vm.$data.directoryId = to.query["directory_id"] || null));
  },
  beforeRouteUpdate(to, from, next) {
    this.directoryId = to.query["directory_id"] || null;
    next();
  }
});
</script>