<template>
  <div :class="classes" @mousemove="move" @mouseup="finishMouse">
    <nav-bar />
    <div class="grow">
      <tree-view :hide="expand" />
      <div class="grow editor">
        <tab-edit class="grow" @open-tree="expand=false" id="edit-page" :loading-prev-tabs="loadingPrevTabs" />
        <div class="expand-icon standard-button" @click="expand = !expand" @mousedown="dragging=true" :style="positioning" id="expand-button">{{expand ? '&gt;' : '&lt;'}}</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import TabbedEditorVue from "./tab/TabbedEditor.vue";
import { ItemType } from "@/models";
import { ItemMissingError } from "@/services/errors";
const TreeView = () => import("./tree/TreeView.vue");
const Navigation = () => import("@/components/nav/Navigation.vue");
export default Vue.extend({
  components: {
    "tree-view": TreeView,
    "tab-edit": TabbedEditorVue,
    "nav-bar": Navigation
  },
  created: async function() {
    try {
      let previousTabs: [string, ItemType][] =
        JSON.parse(localStorage.getItem("openTabs") || "[]") || [];
      await Promise.all(
        previousTabs.map((pt: [string, ItemType]) => {
          try {
            this.$store.dispatch("artifacts/loadPath", {
              id: pt[0],
              type: pt[1]
            });
          } catch (e) {
            if (!(e instanceof ItemMissingError)) {
              const index = previousTabs.indexOf(pt, 0);
              if (index > -1) {
                previousTabs.splice(index, 1);
              }
            }
          }
        })
      );
      previousTabs.forEach(
        async pt => await this.$store.dispatch("artifacts/open", pt[0])
      );
    } finally {
      this.loadingPrevTabs = false;
    }
  },
  data: function() {
    return {
      expand: false,
      iconX: 0,
      iconY: 0,
      dragging: false,
      loadingPrevTabs: true
    };
  },
  computed: {
    classes: function() {
      let clazzes = ["edit", "col-layout", "grow"];
      if (this.expand) {
        clazzes.push("expand");
      }
      if (this.dragging) {
        clazzes.push("no-select");
      }
      return clazzes;
    },
    positioning: function() {
      return "left:" + this.iconX + "px; top:" + this.iconY + "px;";
    }
  },
  methods: {
    move: function(m: MouseEvent | TouchEvent) {
      if (this.dragging) {
        if (m instanceof MouseEvent) {
          let rect = document
            .getElementById("edit-page")!
            .getBoundingClientRect();
          this.iconX =
            m.pageX -
            rect.left -
            document.getElementById("expand-button")!.clientWidth / 2;
          this.iconY =
            m.pageY -
            rect.top -
            document.getElementById("expand-button")!.clientHeight / 2;
        }
      } else {
      }
    },
    finishMouse: function(m: MouseEvent | TouchEvent) {
      if (this.dragging) {
        this.iconX = 0;
        this.iconY = Math.max(
          0,
          Math.min(
            document.getElementById("edit-page")!.clientHeight -
              document.getElementById("expand-button")!.clientHeight,
            this.iconY
          )
        );
        this.dragging = false;
      }
    }
  }
});
</script>
