<template>
  <div class="angle-widget-container">
    <div v-if="visible" class="angle-widget" :style="style">
      <svg :width="width" :height="height">
        <line :x1="width / 2" :y1="height / 2" :x2="width" :y2="height / 2" />
        <path :d="path" />
      </svg>
      <div class="angle-editor" :style="angleEditorPosition" @click.stop @dblclick.stop="editing=!editing">
        <div v-if="!editing">{{degreeAngleString}}</div>
        <div v-else><input type="number" name="degree-input" id="degree-input" /></div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { standardBondDist } from "../../constants";
export default Vue.extend({
  data: function() {
    return { editing: false };
  },
  computed: {
    visible: function() {
      return this.$store.state.molecules.creating;
    },
    width: function() {
      return standardBondDist * 2;
    },
    height: function() {
      return standardBondDist * 2;
    },
    style: function() {
      return (
        "transform:translate(" +
        (this.$store.state.molecules.origin.x - this.width / 2) +
        "px, " +
        (this.$store.state.molecules.origin.y - this.height / 2) +
        "px)"
      );
    },
    path: function() {
      return (
        "M " +
        this.endX +
        " " +
        this.endY +
        " A " +
        standardBondDist +
        " " +
        standardBondDist +
        " 1 0 " +
        (this.endY > 75 ? 0 : 1) +
        " " +
        this.width +
        " " +
        standardBondDist
      );
    },
    endX: function() {
      return (
        this.$store.state.molecules.moving.x -
        this.$store.state.molecules.origin.x +
        standardBondDist
      );
    },
    endY: function() {
      return (
        this.$store.state.molecules.moving.y -
        this.$store.state.molecules.origin.y +
        standardBondDist
      );
    },
    angle: function() {
      return -Math.atan2(
        this.endY - standardBondDist,
        this.endX - standardBondDist
      );
    },
    degreeAngleString: function() {
      return (this.angle * 180 / Math.PI).toFixed(2) + "°";
    },
    angleEditorPosition: function() {
      return (
        "left: " +
        standardBondDist * 2 +
        "px;bottom: " +
        standardBondDist * 2 +
        "px;"
      );
    }
  },
  methods: {
    setAngle(angle: number) {
      this.$store.state.molecules.moving.x =
        this.$store.state.molecules.origin.x +
        Math.cos(angle) * standardBondDist;
      this.$store.state.molecules.moving.y =
        this.$store.state.molecules.origin.y +
        Math.sin(angle) * standardBondDist;
    }
  }
});
</script>
