<template>
    <svg :width="Math.abs(width)" :height="Math.abs(height)" :style="style"></svg>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    origin: Object as () => { x: number; y: number },
    endpoint: Object as () => { x: number; y: number }
  },
  computed: {
    width: function() {
      return this.endpoint.x - this.origin.x;
    },
    height: function() {
      return this.endpoint.y - this.origin.y;
    },
    style: function() {
      return (
        "transform:translate(" + this.origin.x + "px, " + this.origin.y + "px);"
      );
    }
  }
});
</script>
