<template>
  <div class="drawing-surface" @mouseup="stopMove" @mousemove="move">
    <angle-widget />
    <bond-view v-for="(bond, index) in bonds" :key="index" :bond="bond" />
    <rgroup-view v-for="rgroup in rgroups" :key="rgroup.id" :rgroup="rgroup" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import RGroupVue from "./RGroup.vue";
import BondVue from "./bonds/Bond.vue";
import AngleWidgetVue from "./AngleWidget.vue";
export default Vue.extend({
  components: {
    "rgroup-view": RGroupVue,
    "bond-view": BondVue,
    "angle-widget": AngleWidgetVue
  },
  computed: {
    rgroups: function() {
      return this.$store.state.molecules.rgroups;
    },
    bonds: function() {
      return this.$store.state.molecules.bonds;
    }
  },
  methods: {
    move: function(mouseEvent: MouseEvent) {
      this.$store.commit("molecules/move", {
        x: mouseEvent.x,
        y: mouseEvent.y
      });
    },
    stopMove: function(mouseEvent: MouseEvent) {
      if (mouseEvent.which === 1) this.$store.commit("molecules/stopMove");
    },
    cancel:function() {
      this.$store.commit("molecules/cancel");
    }
  }
});
</script>
