<template>
    <div class="mdraw-layout">
        <drawing-surface />
        <right-menu />
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import DrawingSurfaceVue from "./DrawingSurface.vue";
import RightMenuVue from "./RightMenu.vue";
export default Vue.extend({
  components: {
    "drawing-surface": DrawingSurfaceVue,
    "right-menu": RightMenuVue
  }
});
</script>

