<template>
  <div class="rgroup back" :style="style" @mousedown="down" @click="click">
    <div class="display">
      <div class="name" v-if="!editingName">{{rgroup.name}}</div>
      <div v-else class="nameInput"><input type="text" :name="'name-input-' + rgroup.id" :id="'name-input-'+rgroup.id" /></div>
      <sup>
        <div class="inline" v-if="!editingCharge">{{chargeString}}</div>
        <div v-else class="inline"><input type="text" :name="'charge-input-' + rgroup.id" :id="'charge-input-' + rgroup.id"></div>
      </sup>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import RGroup from "./models/RGroup";
export default Vue.extend({
  props: { rgroup: Object as () => RGroup },
  data: function() {
    return {
      start: { x: 0, y: 0 },
      proposedName: "",
      editingName: false,
      editingCharge: false
    };
  },
  mounted: function() {
    this.$nextTick(() => this.$forceUpdate());
    this.proposedName = this.rgroup.name;
  },
  computed: {
    style: function() {
      return (
        "transform-origin:center center; transform:translate(" +
        (this.rgroup.x - (this.$el ? this.$el.offsetWidth / 2 : 0)) +
        "px, " +
        (this.rgroup.y - (this.$el ? this.$el.offsetHeight / 2 : 0)) +
        "px);"
      );
    },
    chargeString: function() {
      switch (this.rgroup.charge) {
        case 0:
          return "";
        case 1:
          return "+";
        case -1:
          return "-";
        default:
          return this.rgroup.charge > 0
            ? "+" + this.rgroup.charge
            : "-" + this.rgroup.charge;
      }
    }
  },
  methods: {
    down: function(mouseEvent: MouseEvent) {
      this.$el.focus();
      if (mouseEvent.which === 1) {
        this.start = { x: mouseEvent.x, y: mouseEvent.y };
        this.$store.commit("molecules/moving", this.rgroup);
      }
    },
    click: function(mouseEvent: MouseEvent) {
      let fuzz = 5;
      if (
        mouseEvent.which === 1 &&
        Math.abs(mouseEvent.x - this.start.x) < fuzz &&
        Math.abs(mouseEvent.y - this.start.y) < fuzz
      ) {
        this.$store.commit("molecules/click", this.rgroup);
      }
    }
  }
});
</script>
