<template>
    <div class="menu">
        <div class="button" @click="makeCarbon">Make a Carbon!</div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import RGroup from "./models/RGroup";
export default Vue.extend({
  methods: {
    makeCarbon: function() {
      this.$store.commit("molecules/addRGroup", new RGroup("C", 50, 50, 0));
    }
  }
});
</script>
