<template>
    <svg viewBox="0 0 250 250" preserveAspectRatio>
        <!--1, 2, 3, 4-->
        <path class="top-face" d="M12.325 90.16 L109.67 -0.74 L208.43 74.1 L111.1 165 Z" />
        <!--1, 5, 6, 4-->
        <path class="left-face" d="M12.325 90.16 L31.57 165.9 L130.33 240.74 L111.1 165 Z" />
        <!--6, 7, 3, 4-->
        <path class="right-face" d="M130.33 240.74 L227.67 149.84 L208.43 74.1 L111.1 165 Z" />
    </svg>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

