<template>
    <div class="loading-symbol">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>
