<template>
    <svg class="profile-picture" viewBox="0 0 100 100" preserveAspectRatio>
        <defs>
            <clipPath id="prof-clip">
                <circle r="50" cx="50" cy="50" />
            </clipPath>
        </defs>
        <g clip-path="url(#prof-clip)">
            <circle class="fill" r="22.5" cx="50" cy="27.5" />
            <circle class="fill" r="50" cx="50" cy="100" />
        </g>
        <circle class="stroke" r="48.75" cx="50" cy="50" />
    </svg>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>
