<template>
    <div class="home grow center col-layout">
        <img @click="quack" style="width:100vw;height:100vh;" src="../../../static/assets/220px-Rubber_Duck_(8374802487).jpg" alt="Rubber Duck" />
        <transition name="fade">
            <div v-if="quacking">
                <div class="modal-back">
                    <div class="modal center">
                        <div style="font-size: 3em;color:yellow;">Quack!</div>
                    </div>
                </div>
            </div>
        </transition>
        <img style="position: fixed; margin-left: auto; margin-right:auto;" src="/static/assets/sleep.png" alt="SLEEP" ref="sleep-img" />
        <audio id="quack">
            <source src="../../../static/assets/quack_5.mp3" type="audio/mpeg" />
        </audio>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data: function() {
    return { quacking: false, startingTime: new Date() };
  },
  mounted() {
    setInterval(() => {
        (this.$refs["sleep-img"] as HTMLImageElement).width = this.size();
        (this.$refs["sleep-img"] as HTMLImageElement).height = this.size();
    }, 100);
  },
  methods: {
    size(): number {
      let now = new Date();
      if (now.getHours() > 6) {
        return 0;
      }
      let c = now.getTime() - this.startingTime.getTime();
      return c/500;
    },
    quack: async function() {
      this.quacking = true;
      await (document.getElementById("quack") as HTMLAudioElement).play();
      this.quacking = false;
    }
  }
});
</script>
