<template>
    <div class="grow center col-layout">
        <div class="logo">
            <site-logo />
        </div>
        <div class="large-text">Open a document to get started!</div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
const CubeVue = () => import("@/components/utilities/Cube.vue");
export default Vue.extend({
  components: { "site-logo": CubeVue }
});
</script>
