<template>
  <div :class="tabBodyClasses" :title="note.title" @mouseleave="rightClicked=false">
    <a :href="htmlDownload" :download="note.title + (text ? '.md' : '.html')" ref="ghostLink" v-if="downloading" style="display:none" />
    <div class="col-layout">
      <div @click="select" @contextmenu.stop.prevent="rightClicked=true" class="pad standard-button">
        <img :src="imgSrc" type="image/svg+xml" width="20px" :alt="imgName"/>
        <div v-if="!editingTitle" @dblclick="startTitleEdit" class="pad-left vert-center">{{note.title.length > 10 ? note.title.substring(0, 10).replace(" ", "&nbsp;") + "..." : note.title.replace(" ", "&nbsp;")}}</div>
        <input v-else type="text" name="title-input" :id="'title-input-' + note.id" class="vert-center" v-model="proposedTitle" autocomplete="off" @keydown.enter.prevent="commitTitleEdit" @focusout="commitTitleEdit">
      </div>
      <transition name="fade">
        <div class="dropdown" v-if="rightClicked">
          <div class="dropdown-content col-layout">
            <div class="standard-button pad-all" @click="download(true)">{{"Download as Markdown (" + note.title + ".md)"}}</div>
            <div class="standard-button pad-all" @click="download(false)">{{"Download as HTML (" + note.title + ".html)"}}</div>
            <div class="close-button pad-all" @click="close">Close Tab</div>
          </div>
        </div>
      </transition>
    </div>
    <div @click="close" class="close-button pad">
      <div class="center grow">&times;</div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { ItemType, getImageSource, Item, Note, ArticleNote, getName } from "@/models";

let pdfGen = new (window as any).jsPDF();

export default Vue.extend({
  props: {
    note: Note,
    selected: Boolean
  },
  data: function() {
    return {
      proposedTitle: "",
      editingTitle: false,
      downloading: false,
      text: false,
      rightClicked: false
    };
  },
  computed: {
    tabBodyClasses: function(): string[] {
      let clazzes = ["tab"];
      if (this.selected) {
        clazzes.push("selected");
      }
      if (this.modified) {
        clazzes.push("modified");
      }
      return clazzes;
    },
    imgSrc: function(): string {
      return getImageSource(
        this.note instanceof ArticleNote ? ItemType.ARTICLE : ItemType.NOTE
      );
    },
    imgName() {
      return getName(this.note instanceof ArticleNote ? ItemType.ARTICLE : ItemType.NOTE);
    },
    updateQueue: function() {
      return this.$store.state.artifacts.pool.get(this.note.id).updateQueue;
    },
    modified: function() {
      return !!this.updateQueue.length;
    },
    htmlDownload: function() {
      return (
        "data:" +
        (this.text ? "text/plain" : "text/html") +
        ";charset=utf-8," +
        (this.text
          ? this.note.text
          : encodeURIComponent(this.$store.state.artifacts.currentHTML))
      );
    }
  },
  methods: {
    startTitleEdit: function() {
      this.proposedTitle = this.note.title;
      this.editingTitle = true;
      this.$nextTick(() =>
        document.getElementById("title-input-" + this.note.id)!.focus()
      );
    },
    commitTitleEdit: function() {
      if (this.proposedTitle) {
        // this.item.title = this.proposedTitle;
      }
      this.editingTitle = false;
    },
    select: function() {
      this.$store.commit("artifacts/select", this.note.id);
    },
    close: function() {
      this.$store.commit("artifacts/close", this.note.id);
    },
    download: function(markdown: boolean) {
      this.text = markdown;
      this.$store.dispatch("artifacts/save", this.note.id);
      this.downloading = true;
      this.$nextTick(() => {
        (this.$refs["ghostLink"] as HTMLAnchorElement).click();
        this.downloading = false;
      });
    }
  }
});
</script>
