<template>
  <transition name="fade" mode="out-in">
    <div v-if="loadingPrevTabs" class="grow center">
      <loading-symbol />
    </div>
    <no-tab v-else-if="!tabCount" />
    <div v-else class="col-layout">
      <div class="tab-layout grow">
        <transition-group class="grow" name="collapse-left" tag="div">
          <tab-head v-for="note in notes" :key="note.id" :selected="selected && note.id===selected" :note="note" />
        </transition-group>
        <div class="standard-button center pad-all" @click="closeAll()">Close All</div>
        <div class="standard-button center pad-all" @click="preview = !preview">{{preview ? "Edit" : "Preview"}}</div>
      </div>
      <dual-edit :note="notes.filter(n => selected === n.id)[0]" :edit="!preview" />
    </div>
  </transition>
</template>
<script lang="ts">
import Vue from "vue";
import { Item, ArticleNote, Note } from "@/models";
const TabVue = () => import("./Tab.vue");
const DualEditVue = () => import("../editor/standard/DualEdit.vue");
const NoTabVue = () => import("./NoTab.vue");
const LoadingSymbolVue = () => import("../../utilities/Loading.vue");
export default Vue.extend({
  components: {
    "tab-head": TabVue,
    "dual-edit": DualEditVue,
    "no-tab": NoTabVue,
    "loading-symbol": LoadingSymbolVue
  },
  props: { loadingPrevTabs: Boolean },
  watch: {
    tabCount: function(next) {
      if (!next) {
        this.$emit("open-tree");
      }
    }
  },
  computed: {
    tabCount: function() {
      return this.notes.filter((n: any) => n).length;
    },
    notes: function() {
      return this.$store.getters["artifacts/tabs"];
    },
    selected: function(): string {
      return this.$store.state.artifacts.selected;
    }
  },
  data: function() {
    return { preview: false };
  },
  methods: {
    closeAll: function() {
      this.$store.dispatch("artifacts/closeAllTabs");
    }
  }
});
</script>
