<template>
    <div class="row standard-button" @click="$emit('route')">
        <div class="cell pad-all">
            <div class="vert-center">
                <img :src="imgSrc" type="image/svg+xml" height="25px" />
                <div class="pad-left">{{item.title}}</div>
            </div>
        </div>
        <div v-if="item.timestamp" class="cell">
            <div class="vert-center">{{item.timestamp.toDateString()}}</div>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Item, getImageSource } from "../../../models";
export default Vue.extend({
  props: { item: Object as () => Item },
  computed: {
    imgSrc: function() {
      return getImageSource(this.item.type);
    }
  }
});
</script>

