<template>
  <div :class="classes">
    <div class="table-layout grow">
      <div class="header-group">
        <div class="row">
          <div class="cell pad-all center">
            File Name
          </div>
          <div class="cell pad-all center">
            Timestamp
          </div>
        </div>
      </div>
      <div class="body-group" v-if="!loading">
        <explorer-row v-for="item in items" :key="item.id" :item="item" @route="route(item)" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Item, ItemType } from "../../../models";
import { DirectoryService } from "../../../services/data";
import { DirectoryIdentifier } from "../../../services";
import ExplorerRowVue from "./ExplorerRow.vue";
export default Vue.extend({
  components: { "explorer-row": ExplorerRowVue },
  data() {
    this.$store.dispatch("services/auth/startup");
    return {
      items: [] as Item[],
      loading: true
    };
  },
  props: {
    id: String
  },
  computed: {
    classes: function() {
      let clazzes = ["explorer", "col-layout", "grow"];
      if (this.loading) {
        clazzes.push("loading");
      }
      return clazzes;
    }
  },
  watch: {
    id: function(next, old) {
      this.fetch(next);
    }
  },
  methods: {
    route(item: Item) {
      if (item.type == ItemType.DIRECTORY) {
        if (item.id != null)
          this.$router.push({
            path: "/main",
            query: {
              directory_id: item.id
            }
          });
        else this.$router.push("/main");
      } else {
        this.$store.dispatch("artifacts/open", item.id);
        this.$router.push("/edit");
      }
    },
    fetch: async function(id: string | null) {
      if (id !== undefined) {
        this.loading = true;
        try {
          this.items = await this.$store.dispatch("artifacts/getChildren", id);
        } catch (e) {
          this.$router.push("/main");
        }
        // if (id) {
        //   this.items.splice(
        //     0,
        //     0,
        //     new Item(
        //       ItemType.DIRECTORY,
        //       this.$store.state.artifacts.pool.get(id)!.parent,
        //       ".."
        //     )
        //   );
        // }
        this.loading = false;
      }
    }
  }
});
</script>

